<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Lista de Curso-Disciplina</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-4">
    <h2>Curso-Disciplina</h2>
    <a href="/cursodisciplina/adicionar/" class="btn btn-primary mb-3">Adicionar</a>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Curso</th>
                <th>Disciplina</th>
                <th>Semestre</th>
            </tr>
        </thead>
        <tbody>
            {% for cd in curso_disciplinas %}
            <tr>
                <td>{{ cd.curso }}</td>
                <td>{{ cd.disciplina }}</td>
                <td>{{ cd.semestre }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>
